* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0FBFC;
    color: white;
    font-family: 'poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #253237;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

nav ul a {
    text-decoration: none;
    color: white;
}

button{
    color: white;
    font-size: large;
    background-color: #253237;
    border: none;
}

button:hover{
    box-shadow: 5px 5px 10px white;
    font-size: 1.25rem;
}
.left {
    font-size: 1.75rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
    width: 100%;
}


.leftSection {
    height: 100svh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: "poppins", sans-serif;
    margin-left: 50px;
}

anime{
    overflow: hidden;
    width: fit-content;
    animation: typewriter infinite normal 5s ease;
}
@keyframes typewriter {
    from{width: 0}
    to{width: 100%}
}

.rightSection {
    width: 50%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 300px;
    width: 300px;
}